<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'side' : 'over'"
        [opened]="(isHandset$ | async) === true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list *ngIf="sesion == 's'">
        <!-- <a mat-list-item [routerLink]="['/hoteles']">Hoteles</a>
        <a mat-list-item [routerLink]="['/aventuras']">Aventuras</a>
        <a mat-list-item [routerLink]="['/habitaciones']">Habitaciones</a>
        <a mat-list-item [routerLink]="['/reservaciones']">Reservaciones</a>
        <a mat-list-item [routerLink]="['/clientes']">Clientes</a> -->
        <a mat-list-item (click)="cerrarSesion()">Cerrar sesión</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="sesion == 'n'">
        <a mat-list-item (click)="inicarSesion()">Iniciar sesión</a>
        <a mat-list-item href="#">Crear cuenta</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="maintoolbar">
        <menu (click)="drawer.toggle()"><mat-icon class="iconMenu">menu</mat-icon></menu>
        <span class="titulo" [routerLink]="['/home']">Caribbean Adventure</span>
        <div class="info1">
          <a class="telefono">Reservaciones: 88888888</a>
          <button mat-flat-button class="Reservaciones">Reservar</button>
        </div>
        <div class="info2">
          <a class="direccion" >Hoteles</a>
          <a class="direccion" >Transporte</a>
          <a class="direccion" [routerLink]="['/actividades']">Actividades</a>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->

        <img id="imagenHome" src="./assets/fondoHome.jpg" alt="XD">
        <div class="opcionesReser">
          
          <mat-form-field appearance="outline" class="hoteles">
            <mat-label>Hotel</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>location_city</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline" class="provincias">
            <mat-select>
              <mat-option>-- Ninguno --</mat-option>
              <mat-option *ngFor="let element of provincias" value="element">{{element}}</mat-option>
              <!-- <mat-option value="option">Option</mat-option> -->
            </mat-select>
            <mat-label><mat-icon>favorite</mat-icon> Provincia</mat-label>
          </mat-form-field>

          <button mat-flat-button class="buscar"><mat-icon>search</mat-icon></button>
        </div>

        <div class="infoHoteles">
          <div class="infoHotel">
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile
                  *ngFor="let tile of tiles"
                  [colspan]="tile.cols"
                  [rowspan]="tile.rows"
                  [style.background]="tile.color">
                {{tile.text}}
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

        <!-- <div class="infoHoteles">
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile
              *ngFor="let tile of tiles"
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
          </mat-grid-list>
        </div> -->


        <!-- <div class="infoHoteles">
          <div class="infoHotel">
            <div class="nombreHotel">

            </div>
            div
          </div>
        </div> -->

      <!-- <canvas id="imagenHome"></canvas> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
