.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .maintoolbar {
    color: rgb(0, 255, 0);
    background-color: rgba(30, 55, 199, 0.801);
    height: 10%;
  }
  
  .iconMenu {
    cursor: pointer;
    color: rgb(0, 255, 0);
    font-size: 4em;
  }
  
  .titulo {
    position: absolute;
    left: 15%;
    font-size: 3em;
  }

  //------------------------------------------------------------------