.infoHoteles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  
  .infoHotel {
    box-shadow: 2px 2px 5px #999;
    width: 80%;
    height: 29em;
  }

  .buscar {
    background-color: #23CF20;
    color: white;
    position: absolute;
    top: 37%;
    left: 45%;
  }