<div class="tittlecontainer">
    <span>Registrarse</span>
</div>
<div class="maincontainer">
    <div>
            
        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="nombre" placeholder="Ex. Myname">
                <mat-error *ngIf="nombre.hasError('pattern') && !nombre.hasError('required')">
                Porfavor ingrese su <strong>nombre</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="nombre.hasError('required')">
                Porfavor ingrese su <strong>nonbre</strong>.
                </mat-error>
                <mat-error *ngIf="nombre.invalid && !nombre.hasError('pattern') && !nombre.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Apellido 1</mat-label>
                <input matInput [formControl]="apellido1" placeholder="Ex. Mylastname">
                <mat-error *ngIf="apellido1.hasError('pattern') && !apellido1.hasError('required')">
                Porfavor ingrese su <strong>primer apellido</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="apellido1.hasError('required')">
                Porfavor ingrese su <strong>primer apellido</strong>.
                </mat-error>
                <mat-error *ngIf="apellido1.invalid && !apellido1.hasError('pattern') && !apellido1.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Apellido 2</mat-label>
                <input matInput [formControl]="apellido2" placeholder="Ex. Mylastname">
                <mat-error *ngIf="apellido2.hasError('pattern') && !apellido2.hasError('required')">
                Porfavor ingrese su <strong>segundo apellido</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="apellido2.hasError('required')">
                Porfavor ingrese su <strong>segundo apellido</strong>.
                </mat-error>
                <mat-error *ngIf="apellido2.invalid && !apellido2.hasError('pattern') && !apellido2.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput [formControl]="telefono" placeholder="Ex. 11111111">
                <mat-error *ngIf="telefono.hasError('pattern') && !telefono.hasError('required')">
                Porfavor ingrese su <strong>teléfono</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="telefono.hasError('required')">
                Porfavor ingrese su <strong>teléfono</strong>.
                </mat-error>
                <mat-error *ngIf="telefono.invalid && !telefono.hasError('pattern') && !telefono.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput [formControl]="correo" placeholder="Ex. example@xd.com">
                <mat-error *ngIf="correo.hasError('email') && !correo.hasError('required')">
                Porfavor ingrese su <strong>correo electrónico</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="correo.hasError('required')">
                Porfavor ingrese su <strong>correo electrónico</strong>.
                </mat-error>
                <mat-error *ngIf="correo.invalid && !correo.hasError('pattern') && !correo.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [formControl]="contrasena" placeholder="Ex. 12345678">
                <mat-error *ngIf="contrasena.invalid && !contrasena.hasError('required')">
                <strong>Exedio</strong> el tamaño permitido.
                </mat-error>
                <mat-error *ngIf="correo.hasError('required')">
                Porfavor ingrese su <strong>contraseña</strong>.
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div>
        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>País procedencía</mat-label>
                <input matInput [formControl]="provincia" placeholder="Ex. Place">
                <mat-error *ngIf="provincia.hasError('pattern') && !provincia.hasError('required')">
                Porfavor ingrese su <strong>provincia</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="provincia.hasError('required')">
                Porfavor ingrese su <strong>provincia</strong>.
                </mat-error>
                <mat-error *ngIf="provincia.invalid && !provincia.hasError('pattern') && !provincia.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>País Residencía</mat-label>
                <input matInput [formControl]="canton" placeholder="Ex. Place">
                <mat-error *ngIf="canton.hasError('pattern') && !canton.hasError('required')">
                Porfavor ingrese su <strong>canton</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="canton.hasError('required')">
                Porfavor ingrese su <strong>canton</strong>.
                </mat-error>
                <mat-error *ngIf="canton.invalid && !canton.hasError('pattern') && !canton.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo.
                </mat-error>
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Hijos</mat-label>
                <input matInput [formControl]="hijos" placeholder="Ex. Place" type="number">
                <mat-error *ngIf="hijos.hasError('pattern') && !hijos.hasError('required')">
                Porfavor ingrese la cantidad de <strong>hijos</strong> correctamente.
                </mat-error>
                <mat-error *ngIf="hijos.hasError('required')">
                Porfavor ingrese la cantidad de <strong>hijos</strong>.
                </mat-error>
                <mat-error *ngIf="hijos.invalid && !hijos.hasError('pattern') && !hijos.hasError('required')">
                <strong>Exedio</strong> el tamaño máximo de hijos.
                </mat-error>
            </mat-form-field>
        </form>

        <mat-form-field appearance="outline" class="provincias">
            <mat-select>
              <mat-option value="">Si</mat-option>
              <mat-option value="">No</mat-option>
              <!-- <mat-option value="option">Option</mat-option> -->
            </mat-select>
            <mat-label>Discapacidad</mat-label>
          </mat-form-field>

        <mat-form-field appearance="outline" class="provincias">
            <mat-select>
              <mat-option value="">Femenino</mat-option>
              <mat-option value="">Masculino</mat-option>
              <!-- <mat-option value="option">Option</mat-option> -->
            </mat-select>
            <mat-label>Sexo</mat-label>
          </mat-form-field>
    </div>
    <button mat-flat-button class="buttonLogin" (click)="enviarInfo()">Aceptar</button>
</div>