<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'side' : 'over'"
        [opened]="(isHandset$ | async) === true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">Inicio</a>
        <!-- <a mat-list-item [routerLink]="['/aventuras']">Aventuras</a> -->
        <!-- <a mat-list-item [routerLink]="['/habitaciones']">Habitaciones</a> -->
        <!-- <a mat-list-item [routerLink]="['/reservaciones']">Reservaciones</a> -->
        <!-- <a mat-list-item [routerLink]="['/clientes']">Clientes</a> -->
        <a mat-list-item (click)="cerrarSesion()">Cerrar sesión</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="maintoolbar">
        <menu (click)="drawer.toggle()"><mat-icon class="iconMenu">menu</mat-icon></menu>
        <span class="titulo" [routerLink]="['/home']">Caribbean Adventure</span>
        <div class="info1">
          <a class="telefono">Reservaciones: 88888888</a>
          <!-- <button mat-flat-button class="Reservaciones">Reservar</button> -->
        </div>
        <div class="info2">
          <a class="direccion" [routerLink]="['/home']">Inicio</a>
          <a class="direccion" >Transporte</a>
          <a class="direccion" [routerLink]="['/actividades']">Actividades</a>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->

        <div class="inputs">
            <div class="imputNamePorduc">
                <mat-form-field >
                    <mat-label>Fecha de entrada</mat-label>
                    <input matInput [matDatepicker]="dp1" disabled  [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="imputNamePorduc">
                <mat-form-field >
                    <mat-label>Fecha de salida</mat-label>
                    <input matInput [matDatepicker]="dp2" disabled  [(ngModel)]="date2">
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="imputNamePorduc">
                <mat-form-field class="hoteles">
                    <mat-label>Adultos</mat-label>
                    <input matInput placeholder="0" [(ngModel)]="adultos">
                    <mat-icon matSuffix>location_city</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
            </div>
            <div class="imputNamePorduc">
                <mat-form-field class="hoteles">
                    <mat-label>Niños</mat-label>
                    <input matInput placeholder="0" [(ngModel)]="ninos">
                    <mat-icon matSuffix>location_city</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
            </div>
        </div>
        <div class="separador"></div>
        <div class="infoHoteles">
            <div class="infoHotel">
              <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile
                    *ngFor="let tile of tiles"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                  {{tile.text}}
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
